<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Annotation GUI</title>
</head>

<body>




   <nav class="navbar navbar-default no-margin">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header fixed-brand">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
</button>
         <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> Annotation GUI</a>
      </div>
      <!-- navbar-header-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li class="active">
               <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
               </button>
            </li>
         </ul>
      </div>
      <!-- bs-example-navbar-collapse-1 -->
   </nav>
   <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
         <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="#">link1</a></li>
                  <li><a href="#">link2</a></li>
               </ul>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Statistics</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                  <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>
               </ul>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Select Output File</a>
            </li>
            <li>
               <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>About Us</a>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
            </li>
         </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->



















<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <h2 style="text-align:center; margin-top:40px;">{{text}}</h2>
    </div>
</div>




<div class='container-fluid xyz"'>
	<div class="row">



		<div class="col-lg-6 col-xsm-6">
			<h3> Clickbait </h3>
			<div class="buttons-wrapper" >
  				<button type="button" aria-pressed="false" class="lab">
    				<span class="icon">&#43;</span>
    				<span class="text">Yes</span>
  				</button>
  				<button type="button" aria-pressed="false" class="office">
    				<span class="icon">&#43;</span>
    				<span class="text">No</span>
  				</button>
			</div>
		</div>

		<div class="col-lg-6 col-xsm-6">
			<h3> Political Bias </h3>
			<div class="buttons-wrapper" >
  				<button type="button" aria-pressed="false" class="lab">
				    <span class="icon">&#43;</span>
				    <span class="text">Left</span>
  				</button>
  				<button type="button" aria-pressed="false" class="office">
    				<span class="icon">&#43;</span>
    				<span class="text">Right</span>
  				</button>
			</div>
		</div>



	</div>
</div>



	<div class="col-lg-12 col-sm-12 col-md-12 align-items-center" >
    <div style="text-align: center; margin-top: 40px; padding-bottom: 40px;">
<button type='button' id='test' class='btn btn-default'>Next</button>
    </div>
	</div>





   <!-- last tag  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script type=text/javascript>
    $(document).ready(function() {
      $("#test").click(function() {
        $.getJSON('/background_process_test', function(dat) {
          console.log(dat);
          $("h2").text(dat['text']);
        });
      });
    });
</script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='button.js') }}"></script>
</body>










</html>
